.buttonup-main {
  width: 40px !important;
  height: 40px !important;
  background-color: #332e80 !important;
  border-radius: 50% !important;
  position: fixed;
  bottom: 279px;
  z-index: 50;
  opacity: 0.6;
  right: 50px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  background: url(https://frontier.com.co/scripts/dist/imgs/expandir-icon.svg)
    center no-repeat;
  transform: rotate(180deg);
  /* transform: scale(0); */
}

.buttonup-main:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.1);
}

.buttonup-icon {
  color: white;
}

.scroll-to-top {
  background-color: red;
}

.itgloberspartnercl-button-up-0-x-buttonup-main {
  background-color: red;
}
